body{
    margin:0%;
    padding: 0%;
}

header {
    height:80%;
    background:
    linear-gradient(
        rgba(0, 0, 0, 0.185),
      rgba(0, 0, 0, 0.438)
    ),url("../Image/DroneGenesis.jpg");
    background-repeat:repeat ;
    background-position:center;
    background-size:cover;   
    border-bottom : 1rem solid rgba(237, 241, 244, 0.767);
}
header:hover{
    animation-name: headerAnim;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes headerAnim {
    0% {height:80%}
    100% {height: 100%} 
}

header h1{
    color:rgb(255, 255, 255);
    font-size: 50px;
    font-style:normal;
    font-weight: bold;
    text-align:center;
    padding-top:10%;
}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: transparent;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
ul:hover{
    box-shadow: 0px 6px 10px black;
}
body{
    background-color: rgb(237, 241, 244);
}
.container{
    background-color: rgb(237, 241, 244);
}
.row{
    padding :10px;
    margin-top: 5%;
}
.container img{
    background-color: red;
    height: 210px;
    width: 250px;
    position: relative;
}

article{
    background-color: white;
    padding:2%;
    border:3px solid rgba(213, 215, 216, 0.767);
    color :#444444;
}

h2{
    color: #444444;
}
.email{
    color: blue;
}

footer{
    margin-top: 10px;
    height:30%;
    border-top : 1rem solid rgba(237, 241, 244, 0.767);  
    background-color: gray;
}

.DroneAnim{
    z-index: 0;
    height:100px;
	width:100px;
    position:relative;
    animation-name: dronetrip;
	animation-duration: 40s;
	animation-iteration-count: infinite;
}

@keyframes dronetrip {
    0%    { transform: translate(-100px,50px) }
    50%  { transform: translate(1350px,50px) }
    100%  { transform: translate(-100px,30px) }
}